body {background:#f1f1f1;font-family: 'Creepster', cursive;}

img {width:20%;}

nav {background: #f2f2f2; box-shadow: 0px 2px 1px #ccc;}

#main {background: #fff;box-shadow:0px 0px 2px grey; width:80%;margin:auto;}

@media screen and (max-width:460px) {
    #main {width:100%; }
    section {font-size:18px }
}
@media screen and (max-width:260px) {
    #main {width:150%;}
}
                                
#logo {display:inline;}

#topHeader {float:right;}

header {display: inline;width:100%;}

ul li { display:inline-block;}

            
section, footer {padding:5px; font-family: arial; font-size:10px;}
footer {background:grey}
#sectionLeft{display:inline-block}
#sectionRight{float:right; display:inline-block}

a {text-decoration:none;}
a:hover {color:#ccc; text-decoration:underline}

                